<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="box">
        <h1>Sentiment Analysis</h1>
    <form action="/analyze" method="post">
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text" required>
        <button type="submit">Analyze</button>
    </form>
    </div>
</body>
</html>
